:root {
  --main-color: #10cab7;
}
* {
  box-sizing: border-box;
}
body {
  font-family: "Work Sans", sans-serif;
}
/* .parent {
  background-colr: #eee;
} */
.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
/* small */
@media (min-width: 576px) and (max-width: 767px) {
  .container {
    width: 100%;
  }
}
/* medium */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* large */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* x- large */
@media (min-width: 1200px) {
  .container {
    width: 1000px;
  }
}
/* GLobal Rules end */

/* start css Header*/
.header {
  padding: 20px;
}
.header > .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .logo {
  width: 50px;
}
/* burger icon */
.burger-icon {
  display: flex;
  flex-wrap: wrap;
  width: 40px;
  justify-content: flex-end;
}
.burger-icon span {
  width: 40px;
  height: 2px;
  background-color: #333;
  margin-bottom: 5px;
}
.burger-icon:hover span:nth-child(2) {
  width: 100%;
}
.burger-icon span:nth-child(2) {
  width: 30px;
  transition: 0.5s;
}

.header .links {
  position: relative;
}
.header .links ul {
  padding: 0;
  margin: 0;
  background-color: #f6f6f6;
  min-width: 300px;
  position: absolute;
  list-style: none;
  right: 0;
  top: calc(100% + 15px);
  display: none;
  z-index: 1;
}

.header .links ul:before {
  content: "";
  border-width: 10px;
  border-color: transparent transparent #f6f6f6 transparent;
  border-style: solid;
  position: absolute;
  right: 5px;
  top: -20px;
}
.header .links:hover ul {
  display: block;
}
.header .links ul li a {
  display: block;
  padding: 15px;
  text-decoration: none;
  color: #222;
  transition: 0.3s;
}
.header .links ul li a:hover {
  padding-left: 25px;
}
.header .links ul li:not(:last-child) a {
  border-bottom: solid #ddd 1px;
}
/* landing Section */
.landing {
  background-image: url(../Assets/Images/pexels-bri-schneiter-28802-346529.jpg);
  background-size: cover;
  height: calc(100vh - 61px);
}
.intro-text {
  max-width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  /* justify-content: center; */
  flex-wrap: wrap;
}
.intro-text h1 {
  font-size: 50px;
  margin: 0;
  color: var(--main-color);
}
